@import 'src/styles/config';

.prize-pool-cell {
  @include row;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  white-space: pre-wrap;
  text-align: left;

  .tt-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }
}

.window-small {
  .prize-pool-cell {
    gap: 0.4rem;
    font-size: 1.2rem;

    .tt-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
